body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 12px;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	font-size: 60px;
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 22px;
	margin: 0;
	border: 10px solid black;
	
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacoes {
	background-color: #D9E5E3;
	padding: 20px;
	border: 10px solid #C2CCCA;
	width: 250px;
	margint: 20px 40px;
	box-sizing: border-box;

}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 20px;
	text-align: center;
}
nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}
.centralizar-texto {
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

main div{
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
ul{
	list-style-type:none;
}
h2{
	font-size: 30px;
}
aside h1{
	font-size: 30px;
	margin-bottom: 25px;

}
strong {
	font-weight: bold;
}
em{
	font-style: italic;
}
h2{
	font-size: 30px;
}
.icones-sociais li {
	display: inline-block;

}
#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
article{
	padding-bottom: 30px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
}
.leia-mais{
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}
.icones-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -99999px;
}
.github{
	background-image: url(github.png);
}
.twitter{
	background-image: url(twitter.png);
}
.linkedin{
	background-image: url(linkedin.png);
}
h1{
	text-transform: uppercase;
}
nav a{
	text-transform: lowercase;
}